<article class="post-entry"> 
  <header class="entry-header">
    <h2>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{- if .Draft }}<span class="entry-hint" title="Draft">.</span>{{- end -}}
    </h2>
  </header>
  
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
<!-- <article class="post-entry"> 
  <header class="entry-header">
    <h2>
      {{ .Title }}
      {{- if .Draft }}<span class="entry-hint" title="Draft">.</span>{{- end -}}
    </h2>
  </header>
  {{- .Summary -}}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article> -->